*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;  
  }
  
  .banner{
    width: 100%;
    height: 100vh;
    background-image: url(wp1896534.jpg);
    background-size: cover;
    background-position: center;
  }
  
  .title{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgba(195, 228, 52, 0.753);
    }

  button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgba(195, 228, 52, 0.753);
    background: transparent;
    color: rgba(195, 228, 52, 0.753);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }

  button hover > span{
    width: 100%;
    
  }


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
  .drone {
    -webkit-animation: drone 1s ease-in-out infinite alternate;
            animation: drone 1s ease-in-out infinite alternate;
    top: 55px;
    left: 209px;
    position: absolute;
    z-index: 1;
  }
  .drone__head {
    background-color: #BDE9EE;
    border-radius: 4.4px 4.4px 0 0;
    box-shadow: inset 5.5px 0 #B0DBE2;
    height: 16.5px;
    margin: 2.75px auto 0 auto;
    position: relative;
    width: 22px;
  }
  .drone__head:before {
    background-color: #D0F1F6;
    border-radius: 5.5px 5.5px 0 0;
    content: "";
    display: block;
    height: 2.75px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -2.75px;
    width: 8.25px;
  }
  .drone__body {
    background-color: #D0F1F6;
    border-radius: 4.4px;
    box-shadow: inset 11px 0 #BDE9EE;
    height: 22px;
    position: relative;
    width: 33px;
  }
  .drone__eye {
    background-color: #1C273C;
    border-radius: 13.2px;
    box-shadow: inset 1.65px 0 #516E74, inset 4.4px -1.1px #243A4B, inset 0.55px 0 0 3.85px #2B4553;
    height: 13.2px;
    position: absolute;
    right: 4.4px;
    top: 3.85px;
    width: 13.2px;
  }
  .drone__eye:before {
    background-color: #fff;
    border-radius: 1.65px;
    bottom: 3.85px;
    content: "";
    display: block;
    height: 1.65px;
    left: 3.85px;
    position: absolute;
    width: 1.65px;
  }
  
  .blade {
    position: absolute;
  }
  .blade:before, .blade:after {
    content: "";
    display: block;
  }
  .blade__part-one {
    -webkit-animation: rotate 0.1s linear infinite alternate;
            animation: rotate 0.1s linear infinite alternate;
  }
  .blade-one {
    bottom: 1.65px;
    left: -14.85px;
    z-index: 1;
  }
  .blade-one:before, .blade-one:after {
    background-color: #91D1DC;
  }
  .blade-one:before {
    border-radius: 6.6px 6.6px 0 0;
    height: 11px;
    width: 6.6px;
  }
  .blade-one:after {
    border-radius: 0 6.6px 6.6px 6.6px;
    height: 6.6px;
    width: 24.75px;
  }
  .blade-one .blade__part-one {
    background-color: #D0F1F6;
    border-radius: 3.3px;
    height: 3.3px;
    position: absolute;
    top: 2.2px;
    left: -10.45px;
    width: 27.5px;
  }
  .blade-two {
    bottom: 2.75px;
    left: -34.1px;
    z-index: -1;
  }
  .blade-two:before, .blade-two:after {
    background-color: #87BFC8;
  }
  .blade-two:before {
    border-radius: 6.6px 6.6px 0 0;
    height: 11px;
    width: 5.5px;
  }
  .blade-two:after {
    border-radius: 0 6.6px 6.6px 6.6px;
    height: 5.5px;
    width: 41.25px;
  }
  .blade-two .blade__part-one {
    background-color: #D0F1F6;
    border-radius: 3.3px;
    height: 3.3px;
    position: absolute;
    top: 2.2px;
    left: -10.45px;
    width: 27.5px;
  }
  .blade-three {
    bottom: 1.65px;
    right: -14.85px;
    transform: scaleX(-1);
    z-index: -2;
  }
  .blade-three:before, .blade-three:after {
    background-color: #6AA7B0;
  }
  .blade-three:before {
    border-radius: 6.6px 6.6px 0 0;
    height: 11px;
    width: 6.6px;
  }
  .blade-three:after {
    border-radius: 0 6.6px 6.6px 6.6px;
    height: 6.6px;
    width: 24.75px;
  }
  .blade-three .blade__part-one {
    background-color: #D0F1F6;
    border-radius: 3.3px;
    height: 3.3px;
    position: absolute;
    top: 2.2px;
    left: -10.45px;
    width: 27.5px;
  }
  .blade-four {
    bottom: 2.75px;
    right: -34.1px;
    transform: scaleX(-1);
    z-index: -1;
  }
  .blade-four:before, .blade-four:after {
    background-color: #87BFC8;
  }
  .blade-four:before {
    border-radius: 6.6px 6.6px 0 0;
    height: 11px;
    width: 5.5px;
  }
  .blade-four:after {
    border-radius: 0 6.6px 6.6px 6.6px;
    height: 5.5px;
    width: 41.25px;
  }
  .blade-four .blade__part-one {
    background-color: #D0F1F6;
    border-radius: 3.3px;
    height: 3.3px;
    position: absolute;
    top: 2.2px;
    left: -10.45px;
    width: 27.5px;
  }
  
  .foots {
    position: relative;
  }
  .foots__one {
    background-color: #B0DBE2;
    border-radius: 3.3px 3.3px 0 0;
    height: 3.3px;
    left: 50%;
    transform: translateX(-50%);
    width: 49.5px;
  }
  .foots__one:before, .foots__one:after {
    background-color: #B0DBE2;
    border-radius: 0 0 3.3px 3.3px;
    height: 5.5px;
    position: absolute;
    top: 3.3px;
    width: 3.3px;
  }
  .foots__one:before {
    left: 0;
  }
  .foots__one:after {
    right: 0;
  }
  .foots__two, .foots__three {
    border-radius: 3.3px 3.3px 3.3px 0;
    height: 3.3px;
    width: 13.75px;
  }
  .foots__two:before, .foots__three:before {
    border-radius: 0 0 3.3px 3.3px;
    height: 5.5px;
    position: absolute;
    top: 3.3px;
    width: 3.3px;
  }
  .foots__two {
    background-color: #D0F1F6;
    left: 2.75px;
  }
  .foots__two:before {
    background-color: #D0F1F6;
    left: 0;
  }
  .foots__three {
    background-color: #89BFC8;
    left: 11px;
    z-index: -1;
  }
  .foots__three:before {
    background-color: #89BFC8;
    right: 0;
  }
  
  .foot {
    position: absolute;
    top: 0;
  }
  .foot:before, .foot:after {
    content: "";
    display: block;
  }
  
  .ground {
    background-color: #FEE09E;
    bottom: 0;
    height: 74.25px;
    position: absolute;
    width: 100%;
  }
  .ground__item {
    background-color: #FEE09E;
    border-radius: 220px;
    opacity: 0.8;
    position: absolute;
    transform-origin: left center;
    margin: 0 0;
  }
  .ground__item--1 {
    height: 220px;
    width: 220px;
  }
  .ground__item--1 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 176px;
    width: 176px;
    left: 0px;
  }
  .ground__item--2 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 123.2px;
    width: 123.2px;
    left: 66.7333333333px;
  }
  .ground__item--3 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 86.24px;
    width: 86.24px;
    left: 114.07px;
  }
  .ground__item--4 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 60.368px;
    width: 60.368px;
    left: 147.752px;
  }
  .ground__item--5 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 42.2576px;
    width: 42.2576px;
    left: 171.8218333333px;
  }
  .ground__item--6 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 29.58032px;
    width: 29.58032px;
    left: 189.12542px;
  }
  .ground__item--7 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 20.706224px;
    width: 20.706224px;
    left: 201.666223px;
  }
  .ground__item--8 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 14.4943568px;
    width: 14.4943568px;
    left: 210.8545897333px;
  }
  .ground__item--9 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 10.14604976px;
    width: 10.14604976px;
    left: 217.68330969px;
  }
  .ground__item--10 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 7.102234832px;
    width: 7.102234832px;
    left: 222.85121793px;
  }
  .ground__item--11 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 4.9715643824px;
    width: 4.9715643824px;
    left: 226.8502166872px;
  }
  .ground__item--12 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 3.4800950677px;
    width: 3.4800950677px;
    left: 230.0265399098px;
  }
  .ground__item--13 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 2.4360665474px;
    width: 2.4360665474px;
    left: 232.6238830303px;
  }
  .ground__item--14 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 1.7052465832px;
    width: 1.7052465832px;
    left: 234.8137650199px;
  }
  .ground__item--15 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 1.1936726082px;
    width: 1.1936726082px;
    left: 236.7169016764px;
  }
  .ground__item--16 {
    -webkit-animation: ground 0.3s linear infinite;
            animation: ground 0.3s linear infinite;
    height: 0.8355708257px;
    width: 0.8355708257px;
    left: 238.4182508205px;
  }
  
  @-webkit-keyframes drone {
    from {
      transform: translate(0, 0) rotate(5deg);
    }
    to {
      transform: translate(50%, 100%) rotate(5deg);
    }
  }
  
  @keyframes drone {
    from {
      transform: translate(0, 0) rotate(5deg);
    }
    to {
      transform: translate(50%, 100%) rotate(5deg);
    }
  }
  @-webkit-keyframes ground {
    from {
      transform: translate(-50%, -30%) scale(1);
    }
    to {
      transform: translate(-120%, -30%) scale(1.29);
    }
  }
  @keyframes ground {
    from {
      transform: translate(-50%, -30%) scale(1);
    }
    to {
      transform: translate(-120%, -30%) scale(1.29);
    }
  }
  @-webkit-keyframes rotate {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
  }
  @keyframes rotate {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(0);
    }
  }
  a {
    font-weight: 600;
    color: #91a7ff;
    text-decoration: none;
  }
  a:hover {
    color: #5c7cfa;
    text-decoration: underline;
  }
  
  html,
  body {
    font-family: "Open Sans";
  }
  
  body {
    background-color: #f8f9fa;
    color: #adb5bd;
  }
  
  .title {
    text-align: center;
  }
  .title h1 {
    font-size: 1.5em;
    margin: 100px 0 10px 0;
  }
  
  .socials {
    display: block;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  .socials li {
    display: inline;
  }
  .socials li:not(:last-child) {
    margin-right: 0.75em;
  }
  .socials a {
    vertical-align: middle;
  }
  .socials a:hover img {
    -webkit-animation: link 0.5s;
            animation: link 0.5s;
  }
  .socials a img {
    width: 1.3em;
  }
  
  .credits {
    font-size: 0.8em;
    text-align: center;
  }
  
  .love {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/heart-smil.svg);
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
  }
  
  .container {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px #dee2e6;
    height: 300px;
    margin: 40px auto 50px auto;
    position: relative;
    width: 450px;
  }
  
  .artboard {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  @-webkit-keyframes link {
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
  }
  
  @keyframes link {
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
  }
  
  */
  
  