*{

  margin: 0;
  padding: 0;
  font-family: sans-serif;  
}

.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.26),rgba(0,0,0,0.26)), url(wp1896534.jpg);
  background-size: cover;
  background-position: center;
}

.title{
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-10%);
  text-align: center;
  color: rgb(7, 7, 7);
  font-size: 22px;
  }


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 110vh;
}

.btn1{ /* Creating the button shape and text aesthetics */
  width: 90px;
  height: 50px;
  left: 120px; 
  border: none;
  color: black;
  font-weight: 750;
  background-color: transparent;
  border-radius: 15px;
  font-size: 1rem;
  outline:none;
  position: relative; /* makes sure the color stays within the button, if not 'relative' it will cover the entire page */
  z-index: 1;
}

.btn1:hover{ /* deals with text within bubble */
  cursor: pointer;
  color: black;
}

.btn1:before { /* Creating button animation and color*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  opacity: 0;
  content: "";
  border-radius: 10px;
  background-color: #1a6ea2;
}

.btn1:hover:before{ /* defining the animation speed and z-index */
  transition: 0.35s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}


.btn2{ /* Creating the button shape and text aesthetics */
  width: 100px;
  height: 60px;
  right: 100px; 
  border: none;
  color: black;
  font-weight: 750;
  background-color: transparent;
  border-radius: 15px;
  font-size: 1rem;
  outline:none;
  position: relative; /* makes sure the color stays within the button, if not 'relative' it will cover the entire page */
  z-index: 1;
}

.btn2:hover{ /* deals with text within bubble */
  cursor: pointer;
  color: black;
}

.btn2:before { /* Creating button animation and color*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
  opacity: 0;
  content: "";
  border-radius: 10px;
  background-color: #2089ca;
}

.btn2:hover:before{ /* defining the animation speed and z-index */
  transition: 0.35s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

