<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 77 Crop Drone</title>
</head>

<body 
    

.title
	h1 Drone
	ul.socials
		li
			a(href="https://ivan.odintsov.me", target="_blank")
				img(
					src="https://maxcdn.icons8.com/Android_L/PNG/24/Messaging/link-24.png",
					alt="Twitter icon"
				)
		li
			a(href="https://twitter.com/odintsov_design", target="_blank")
				img(
					src="https://img.icons8.com/color/48/000000/twitter.png",
					alt="Twitter icon"
				)

.container
	.artboard
		.drone
			.drone__head
				.blade.blade-one
					.blade__part-one
				.blade.blade-two
					.blade__part-one
				.blade.blade-three
					.blade__part-one
				.blade.blade-four
					.blade__part-one
				.drone__body
					.drone__eye
				.drone__foots.foots
					.foots__one.foot
					.foots__two.foot
					.foots__three.foot
		.ground
			.ground__items
				- var i = 0;
				while i < 16
					div(class='ground__item ground__item--' + ++i)

.credits.
	Created with <span class="love"></span> by <a href="https://codepen.io/ivanodintsov">Ivan Odintsov</a>  &nbsp;&nbsp;&middot;&nbsp;&nbsp;	Original by <a href="https://dribbble.com/shots/3407631-Drone">Gal Shir</a>

</body>
</html>