{% load static %}
<html>

<head>
  <title> Team 77 - Crop Drone </title>
  <link rel="stylesheet" href="{%static 'style.css'%}">
</head>

<body>
  <div class="banner">
    <!-- the white space of the front page -->
  
  
  <div class="title">
    <!-- Dealing with the title-->
    <h1> TEAM 77 - Crop Drone </h1>
  </div>

    <div class="container">
      <button class="btn1">Log In</button>
      <button class="btn2">Create Account</button>
    </div>
  </div>

</body>


</html>

























<!--
{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CCrop Drone</title>

<link rel="style" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' %}">
<link rel="style" href="{% static './style.css' %}">

</head>
{% load static %}

<body>
<!-- partial:index.partial.html -->
<!--
<div class="title">
  <h1>Drone</h1>

</div>
<div class="container">
  <div class="artboard">
    <div class="drone">
      <div class="drone__head">
        <div class="blade blade-one">
          <div class="blade__part-one"></div>
        </div>
        <div class="blade blade-two">
          <div class="blade__part-one"></div>
        </div>
        <div class="blade blade-three">
          <div class="blade__part-one"></div>
        </div>
        <div class="blade blade-four">
          <div class="blade__part-one"></div>
        </div>
        <div class="drone__body">
          <div class="drone__eye"></div>
        </div>
        <div class="drone__foots foots">
          <div class="foots__one foot"></div>
          <div class="foots__two foot"></div>
          <div class="foots__three foot"></div>
        </div>
      </div>
    </div>
    <div class="ground">
      <div class="ground__items">
        <div class="ground__item ground__item--1"></div>
        <div class="ground__item ground__item--2"></div>
        <div class="ground__item ground__item--3"></div>
        <div class="ground__item ground__item--4"></div>
        <div class="ground__item ground__item--5"></div>
        <div class="ground__item ground__item--6"></div>
        <div class="ground__item ground__item--7"></div>
        <div class="ground__item ground__item--8"></div>
        <div class="ground__item ground__item--9"></div>
        <div class="ground__item ground__item--10"></div>
        <div class="ground__item ground__item--11"></div>
        <div class="ground__item ground__item--12"></div>
        <div class="ground__item ground__item--13"></div>
        <div class="ground__item ground__item--14"></div>
        <div class="ground__item ground__item--15"></div>
        <div class="ground__item ground__item--16"></div>
      </div>
    </div>
  </div>
</div>
<div class="credits">Created with <span class="love"></span> by <a href="https://codepen.io/ivanodintsov">Ivan Odintsov</a>  &nbsp;&nbsp;&middot;&nbsp;&nbsp;	Original by <a href="https://dribbble.com/shots/3407631-Drone">Gal Shir</a></div>
<!-- partial -->

<!--
</body>
</html>

-->