{% load static %}
<html>

<head>
  <title> Team 77 - Crop Drone </title>
  <link rel="stylesheet" href="{%static 'style.css'%}">
</head>

<body>
  <div class="banner">
    <!-- the white space of the front page -->
  
  
  <div class="title">
    <!-- Dealing with the title-->
    <h1> TEAM 77 - Crop Drone </h1>
  </div>

    <div class="container">

      {% if user.is_authenticated %}

      <p style="font-size: 20; font-weight: bold; padding: 10px;">Welcome to the Matrix, {{user.username}}. </p>
      <a href = "accounts/logout"><button class="btn1">Log Out</button></a>
      <a href = "accounts/datapage"><button class="btn1">View Data</button></a>


      {% else %}
        <a href = "accounts/login"><button class="btn1">Log In</button></a>
        <a href = "accounts/register"><button class="btn2">Create Account</button></a>
      {% endif %}

    </div>
  </div>

</body>


</html>